@{
  ViewBag.Title = "SPA";
}

<div data-ng-include="'/App/layout/shell.html'"></div>
<input type="hidden" id="__RequestVerificationToken" value="@TokenHeaderValue()" />

@section scripts {

  @functions{

    public string TokenHeaderValue()
    {
      string cookieToken, formToken;
      AntiForgery.GetTokens(null, out cookieToken, out formToken);
      return cookieToken + ":" + formToken;
    }

  }
}