body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*#region Splash */
#splash-page {
    z-index: 99999 !important;
}

    #splash-page .bar {
        width: 100%;
    }

.page-splash {
    margin: 0;
    padding: 0;
    z-index: 80000 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    color: #F58A00;
    padding: 0;
}

    .page-splash-message.page-splash-message-subtle {
        margin: 30% auto 0 auto;
        font-size: 200%;
    }
.progress,
.page-progress-bar {
    margin: 30px 10% !important;
}

/*#endregion */

.spinner {
    margin: 20% auto 0 auto;
    left: auto;
    top: auto !important;
}

/*#region bootstrap fixup */
.form-control {
  display: table-cell;
}
/*#endregion */

.purple-background {
    background-color: #64007e;
    color: white;
}

.purple {
    color: #64007e;
}

.side-nav {
    height: 100%;
    min-height: 100vh;
    padding-top: 30px;
}
.side-nav .nav-item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 50px;
}
.side-nav .nav-item .nav-icon {
    width: 100%;
    font-size: 50px;
}
.side-nav .nav-item .nav-link {
    color: white;
}

.main-container {
    padding-top: 50px;
}

ul.project-list {
    list-style: none;
    /*padding: 0 0 0 10px;*/
    padding: 5px 0 0 0;
}

ul.project-list li {
    padding: 10px;
    
}

ul.project-list li:hover {
    cursor: pointer;
    background-color: rgba(100,0,126, 0.2)
}

.no-rounded-corners {
    border-radius: 0 !important;
}
h2.purple {
    border-bottom: solid 1px gray;
    padding-bottom: 5px;
}

.reference-link-padding {
    
    padding-top: 15px;
    padding-bottom: 15px;
}

.reference-link {
    border-bottom: solid 1px gray;
}

.research-tracker-splash {
    background-image: url('../images/RTracker Splash.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    z-index: 99999 !important;
    opacity: 1;
}


.nav-item a {
    color: white;
}

.office-nav {
    height: 50px;
    background-color: #0072c6;
        color: white;
    font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    border: 1px solid #ababab;
    line-height: 50px;
font-size: 19px;
}
    
    .office-nav .single-nav-item {
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
display: table-cell;
    }
    .office-nav .tile {
        font-size: 18px!important;

        /*background-color: #004578;*/
    }

    .office-nav .vertical-line{
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        width: 1px;
        background: #fff;
        background-color: rgba(255,255,255,.4);
        margin: 0 20px;
    }

    .office-nav a {
        color: #fff;
    }
    .office-nav a:hover {
        color: #fff;
        text-decoration: none;
    }