<script type="text/ng-template" id="myProjectModalContent.html">
  <div class="modal-header">
    <h2 class="purple" data-ng-bind="pageTitle"></h2>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
          <div class="row">
              <div class="col-sm-12">
                  <label for="projectName">Title</label>
              </div>
              <div class="col-sm-12">
                  <input type="text" class="form-control clearfix" id="projectName"
                         data-ng-model="project.Title"
                         data-z-validate
                         placeholder="project name" />
              </div>
          </div>
        
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn purple-background no-rounded-corners"
              data-ng-disabled="!entityIsDirty"
              data-ng-click="goSave()">Save
      </button>
      <button type="button" class="btn btn-default no-rounded-corners"
              data-ng-click="goCancel()">
          Cancel
      </button>
      <button type="button" class="btn btn-danger no-rounded-corners"
              data-ng-show="templateMode=='edit'"
              data-ng-click="goDelete()">
          Delete
      </button>
  </div>
</script>