<div data-ng-controller="projectList as vm" style="padding:15px;">
  <h2 class="purple">Projects</h2>
  <!--<div class="clearfix">&nbsp;</div>-->
  
  <!-- list of projects, each project in separate table row -->
    <ul class="project-list">
        <li data-ng-repeat="proj in vm.projects"
            data-ng-click="vm.goProjectDetail(proj)">
            <SPAN>{{proj.Title}}</SPAN>
        </li>
    </ul>
  
  <!-- modal dialog used for new -->
  <div data-ng-include="'/App/projects/detailEdit.html'"></div>
</div>