<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://researchprojecttracker.ant-intapp.windows-int.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>researchprojecttracker.scm.ant-intapp.windows-int.net:443</MSDeployServiceURL>
    <DeployIisAppPath>researchprojecttracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$researchprojecttracker</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=ogd1lquu2a.sqldogfood.sqlazurelabs.com;Initial Catalog=podcast;Persist Security Info=True;User ID=AzTest@techedairlift03.ccsctp.net@ogd1lquu2a;Password=4XoiAUo5" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SpResearchTracker.Models.TenantDbContext, SpResearchTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ogd1lquu2a.sqldogfood.sqlazurelabs.com;Initial Catalog=podcast;Persist Security Info=True;User ID=AzTest@techedairlift03.ccsctp.net@ogd1lquu2a;Password=4XoiAUo5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>